/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

input, select {
  padding: 0.5rem;
  font-size: 1rem;
}

.title-container {
  background-color: #4c84ff;
  color: white;
  text-align: center;
  font-size:20px;
  padding: 2rem 1rem;
}

.currency-page {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fafafa;
}

.mainpage-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fafafa;
}

.form-group {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.p-mp {
  font-size:20px;
}

.result {
  font-weight: bold;
  font-size: 1.2rem;
}

.button-cur {
  padding: 0.5rem 1rem;
  background-color: #4c84ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#arrow {
  margin-top:3px;
  font-size: 25px;
}

#header-text-mp {
  text-align: center;
  font-size:30px;
}

